<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <h1>张洋宁是啥杯</h1>
  <p>Welcome to <%= title %></p>
  <img src="/images/1.jpg" alt="">
</body>

</html>